/reports/log.html
/reports/output.xml
/reports/report.html
/reports/pabot_results/
.pabotsuitenames
/Resources/Locators/__pycache__
/Resources/TestData/__pycache__
./log.html
./output.xml
./report.html